services:
  postgres:
    container_name: postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DC_DB_PASSWORD}
      POSTGRES_USER: ${DC_DB_USERNAME}
      POSTGRES_DB: ${DC_DB_NAME}
    ports:
      - ${DC_DB_PORT}:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql